@page
@model Geography4Geek_1.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Hai effettuato il logout con successo dall'applicazione.</p>
</header>